@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 1130px) {
  html {
    font-size: 59.5%;
  }
}
@media only screen and (max-width: 950px) {
  html {
    font-size: 57.5%;
  }
}
@media only screen and (max-width: 750px) {
  html {
    font-size: 52.5%;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 50.5%;
  }
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 5rem 15rem;
  /* @media only screen and (max-width: 400px) {
    padding: 1% 5%;
  } */
}
@media only screen and (max-width: 1450px) {
  .container {
    padding: 5rem 10rem;
  }
}
@media only screen and (max-width: 1130px) {
  .container {
    padding: 5rem 4em;
  }
}
@media only screen and (max-width: 750px) {
  .container {
    padding: 4% 8%;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    padding: 8% 8%;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 950px) {
  .row {
    flex-direction: column;
  }
}

.row-reverse {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 950px) {
  .row-reverse {
    flex-direction: column;
  }
}

.col-1-of-2 {
  width: 48%;
}
@media only screen and (max-width: 950px) {
  .col-1-of-2 {
    width: 100%;
  }
}

/* //font-family: 'Splash', cursive;
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap'); //NAO USAR */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  text-align: justify;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  color: #fff;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  color: #093E52;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 500px) {
  h2 {
    font-size: 3.2rem;
  }
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: #5D9732;
  margin-bottom: 2rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  text-align: justify;
  line-height: 2.8rem;
  margin-bottom: 2.5rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  text-align: justify;
  margin-left: 0rem;
  margin-top: 0.5rem;
}
.li::before {
  content: "•";
  font-size: 15pt;
  margin-right: 0.5rem;
}

.blog-link {
  color: #5D9732;
  text-decoration: underline;
}
.blog-link:hover {
  color: #81C54F;
  text-decoration: none;
}

.read-more-text {
  display: inline-block;
  margin-top: 1rem;
  color: #5D9732;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;
}
.read-more-text:hover {
  color: #81C54F;
  text-decoration: none;
}

.footer {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  letter-spacing: 0.09rem;
  font-size: 1.3rem;
  background-color: #093E52;
  margin-top: auto;
}
.footer .row {
  align-items: start;
  margin-top: 3rem;
}
@media only screen and (max-width: 700px) {
  .footer .row {
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 950px) {
  .footer .row {
    flex-direction: row;
  }
  .footer .col-1-of-2 {
    width: 48%;
  }
}
@media only screen and (max-width: 700px) {
  .footer .row {
    flex-direction: column;
  }
  .footer .col-1-of-2 {
    width: 100%;
  }
}
.footer .col-1-of-4 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.footer__logo {
  filter: brightness(0) invert(1);
  width: 12.5rem;
  height: 100%;
}
@media only screen and (max-width: 700px) {
  .footer__logo {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .footer__logo {
    width: 11rem;
  }
}
.footer__list {
  list-style: none;
}
.footer__item {
  margin-bottom: 1rem;
}
.footer__icon {
  margin-right: 1rem;
  color: #fff;
}
.footer__link {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 200;
  color: #fff;
  transition: all 200ms;
}
.footer__link:hover {
  color: #81C54F;
  text-decoration: underline;
}

.col--wrapper {
  display: flex;
}
@media only screen and (max-width: 700px) {
  .col--wrapper {
    flex-direction: column;
    margin-top: 2rem;
    display: none;
  }
}
.col--3 {
  margin-left: 7rem;
}
@media only screen and (max-width: 1000px) {
  .col--3 {
    margin-left: 4rem;
  }
}
@media only screen and (max-width: 750px) {
  .col--3 {
    margin-left: 2.5rem;
  }
}
@media only screen and (max-width: 700px) {
  .col--3 {
    margin-left: 0rem;
    margin-top: 2rem;
  }
}

.hr {
  border-bottom: 0.1rem solid #fff;
  margin-top: 4rem;
  margin-bottom: 3rem;
  background-color: #fff;
  color: #fff;
  width: 100%;
}
.hr--wrapper {
  width: 105%;
  height: 4rem;
  margin-left: -2.5%;
}

.copyright {
  font-size: 1.1rem;
  font-family: Roboto;
  font-weight: 300;
  text-align: right;
  margin-bottom: -4rem;
  margin-top: -2rem;
  color: #fff;
  line-height: 1.5;
}
@media only screen and (max-width: 750px) {
  .copyright {
    margin-bottom: 0em;
    margin-top: -1rem;
    text-align: center;
  }
}
@media only screen and (max-width: 450px) {
  .copyright {
    padding-bottom: 0.5rem;
  }
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #FCFAFA;
  box-shadow: -1px 7px 12px rgba(0, 0, 0, 0.2);
}
.nav .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 1000px) {
  .nav .row {
    flex-direction: row;
  }
  .nav .col-1-of-2 {
    width: 48%;
  }
}
.nav__logo {
  width: 20rem;
  height: auto;
}
@media only screen and (max-width: 950px) {
  .nav__logo {
    width: 19.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .nav__logo {
    width: 16rem;
  }
}
.nav__list {
  list-style: none;
  display: flex;
  justify-content: end;
}
.nav__item:not(:last-child) {
  margin-right: 2rem;
}
.nav__link {
  color: #093E52;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  transition: all 200ms;
}
.nav__link:hover {
  color: #5D9732;
}
.nav__link::before {
  content: "";
}
.nav__toggle {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.nav__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: black;
  transition: all 100ms center;
  transform-origin: 3px 1px;
  border-radius: 5px;
  transition: all 300ms;
}
.nav__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}
.nav__toggle.open-btn > span:first-child {
  transform: rotate(45deg);
  transform-origin: 12% 40%;
}
.nav__toggle.open-btn > span:nth-child(2) {
  opacity: 0;
}
.nav__toggle.open-btn > span:last-child {
  transform: rotate(-45deg);
  transform-origin: 12% 40%;
}
.nav .menu {
  position: absolute;
  top: 100%;
  background-color: #5D9732;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 100ms linear;
  transform: translate(0, -2.5%);
  box-shadow: -1px 7px 12px rgba(0, 0, 0, 0.01);
}
.nav .menu .nav__list {
  width: 100%;
  flex-direction: column;
  justify-content: start;
  padding: 2.5rem 0rem;
}
.nav .menu .nav__item:not(:last-child) {
  margin-bottom: 2.5rem;
}
.nav .menu .nav__link {
  color: #fff;
  font-weight: 300;
}
.nav .menu .nav__link:hover {
  text-decoration: underline;
}
.nav .menu.open-menu {
  transform: translate(0, 0);
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 1001px) {
  .hide-for-desktop {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .hide-for-mobile {
    display: none;
  }
}

.lang__change {
  border: none;
  background-color: #FCFAFA;
  cursor: pointer;
  margin-left: 1.5rem;
}
.lang__flexbox {
  display: flex;
  align-items: center;
}
.lang__icon {
  font-size: 1rem;
}
.lang__img {
  width: 2.5rem;
  height: auto;
  margin-right: 1rem;
  margin-top: 3px;
}
.lang__menu {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: 4rem;
  right: 0rem;
  background-color: #5D9732;
  padding: 2.5rem;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-8%);
  transition: all 100ms linear;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem 0.5rem;
}
.lang__menu desc {
  color: #fff;
  font-weight: 300;
  margin-bottom: 2rem;
}
.lang__btn {
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 0;
  margin-bottom: 1rem;
  display: flex;
  padding: 1rem;
  border-radius: 0.4rem;
}
.lang__btn:hover {
  background-color: #093E52;
  transition: all 100ms;
}
.lang__btn:hover p {
  color: #fff;
}
.lang__btn-img {
  width: 2.5rem;
  height: auto;
  margin-right: 1rem;
  margin-top: 4px;
}
.lang__btn p {
  color: #093E52;
  margin-bottom: 0;
}

.lang-menu-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0.5%);
}

.nav__lang {
  position: relative;
}

.hidden-text {
  display: none;
}

.menu.lang__menu {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
  display: block;
}

.hidden-change-lang-mobile {
  display: none;
}

.header-consultancy__content {
  height: 64rem;
  background-image: url("../images/desktop/header-consultancy.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header-consultancy__text {
  max-width: 68.9rem;
  padding: 4rem;
  text-align: left;
  position: absolute;
  top: 35%;
}
@media only screen and (max-width: 500px) {
  .header-consultancy__text {
    top: 28.5%;
  }
}
@media only screen and (max-width: 450px) {
  .header-consultancy__text {
    top: 26.5%;
  }
}
.header-consultancy__p-header {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  padding-top: 1rem;
  text-align: left;
  /*     position: absolute;
  */
  top: 35%;
}

.cons-lecture {
  background-color: #FCFAFA;
}
.cons-lecture .container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 13rem 15rem;
}
@media only screen and (max-width: 1450px) {
  .cons-lecture .container {
    padding: 13rem 10rem;
  }
}
@media only screen and (max-width: 1130px) {
  .cons-lecture .container {
    padding: 13rem 4em;
  }
}
.cons-lecture .h2 {
  text-align: center;
}
.cons-lecture__list {
  display: inline-block;
}

.leadership-test {
  background-color: #8FBE6C;
}
.leadership-test .container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 8rem 15rem;
}
@media only screen and (max-width: 1450px) {
  .leadership-test .container {
    padding: 8rem 10rem;
  }
}
@media only screen and (max-width: 1130px) {
  .leadership-test .container {
    padding: 8rem 4em;
  }
}
.leadership-test .h2 {
  text-align: center;
  color: #fff;
}
.leadership-test .p {
  color: #fff;
}
.leadership-test .mb {
  margin-bottom: 8rem;
}

.cons-consultancy {
  background-color: #457B8F;
}
.cons-consultancy .container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 12rem 15rem;
}
@media only screen and (max-width: 1450px) {
  .cons-consultancy .container {
    padding: 12rem 10rem;
  }
}
@media only screen and (max-width: 1130px) {
  .cons-consultancy .container {
    padding: 12rem 4em;
  }
}
.cons-consultancy .h2 {
  text-align: center;
  color: #fff;
}
.cons-consultancy__list {
  display: inline-block;
  color: #fff;
}

.mensage {
  text-align: center;
  font-weight: 500;
  text-align: left;
  font-size: 3.8rem;
  color: #093E52;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 950px) {
  .mensage {
    font-size: 180%;
    margin-top: 3vh;
  }
}

.msg-align {
  width: 46%;
  text-align: center;
}

form label {
  display: block;
  margin: 0.8rem 0rem;
  font-size: 2.8rem;
}

.default-input {
  display: block;
  margin: 0 0 2rem;
  padding: 1rem 2.5rem;
  width: 100%;
}

.text-mensage.default-input {
  height: 25%;
}

::-moz-placeholder {
  font-family: "Roboto", sans-serif;
}

:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
}

::placeholder {
  font-family: "Roboto", sans-serif;
}

.name,
.email,
.telephone,
.subject,
.text-mensage {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #093E52;
}

textarea {
  font-family: "Roboto", sans-serif;
  resize: none;
}

.enviar {
  text-align: center;
}
.enviar .send-form {
  width: 27%;
  padding: 1em 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 550;
  background-color: #81C54F;
  color: #FCFAFA;
  /* border: 2px solid $blue-dark; */
  border: 0.3rem solid #81C54F;
  border-radius: 0.8rem;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 4rem;
  transition: all 200ms;
  /* float: left; */
}
.enviar .send-form:hover {
  background-color: #FCFAFA;
  border: 0.3rem solid #5D9732;
  color: #5D9732;
}

.contact .row {
  align-items: flex-start;
}
@media only screen and (max-width: 1030px) {
  .contact .row {
    flex-direction: column;
  }
}
.contact .col-1-of-2 {
  width: 46.5%;
}
@media only screen and (max-width: 1030px) {
  .contact .col-1-of-2 {
    width: 100%;
  }
}

.contact-box {
  background-color: #093E52;
  color: #fff;
  padding: 8rem;
  width: 94.5%;
  position: relative;
}
@media only screen and (max-width: 1030px) {
  .contact-box {
    margin-bottom: 8%;
    margin-top: 4%;
    padding: 8%;
  }
}
.contact-box::after {
  position: absolute;
  content: "";
  background-color: #5D9732;
  width: 100%;
  height: 100%;
  top: 2rem;
  left: 2.2rem;
  z-index: -1;
}
.contact-box h2 {
  color: #fff;
  text-align: left;
  font-size: 2.8rem;
}
.contact-box .wrapper {
  margin-bottom: 2.8rem;
  /*     .title-wrapper {
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    font-size: 3.5rem;
    margin-right: 1.5rem;
    transform: translateY(-.4rem);
  } */
}
.contact-box .wrapper h2 {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
}
.contact-box .wrapper li {
  margin-bottom: 1rem;
}
.contact-box .wrapper li a {
  text-decoration: underline;
  color: #fff;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
.contact-box .wrapper li a:hover {
  color: #81C54F;
  text-decoration: none;
}

.stripe {
  background-color: #5D9732;
  height: 1.4rem;
}

.header__content {
  height: 58rem;
  background-image: url("../images/desktop/header-home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media only screen and (max-width: 450px) {
  .header__content {
    height: 50vh;
  }
}
.header__text {
  max-width: 68.9rem;
  padding: 4rem;
  text-align: left;
  position: absolute;
  top: 50%;
  border: 0.6rem solid #fff;
  transform: translateY(-50%);
}
@media only screen and (max-width: 950px) {
  .header__text {
    width: 80%;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
  }
  .header__text h1 {
    text-align: center;
  }
}
@media only screen and (max-width: 750px) {
  .header__text h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 450px) {
  .header__text {
    top: 20%;
  }
  .header__text h1 {
    font-size: 150%;
  }
}
@media only screen and (max-width: 400px) {
  .header__text {
    top: 15%;
  }
}

.book {
  margin-bottom: -4rem;
}
@media only screen and (max-width: 600px) {
  .book {
    margin-top: 1rem;
  }
}
.book__container {
  background-color: #457B8F;
  border-radius: 5px;
}
@media only screen and (max-width: 950px) {
  .book__container {
    flex-direction: column-reverse;
  }
}
.book__content {
  padding: 2rem 4rem;
  width: 65%;
}
@media only screen and (max-width: 950px) {
  .book__content {
    width: 100%;
    padding: 6rem 4rem;
  }
}
@media only screen and (max-width: 500px) {
  .book__content {
    padding: 5rem 3rem;
  }
}
.book__content .subtitle {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
}
.book__content h2 {
  color: #fff;
}
.book__content p {
  color: #fff;
  font-weight: 300;
  margin-bottom: 6rem;
}
.book__btn {
  background-color: #fff;
  color: #457B8F;
  padding: 1rem 1.6rem;
  border-radius: 2px;
  font-weight: 400;
}
.book__btn .btn-icon {
  margin-left: 2px;
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;
}
.book__btn:hover .btn-icon {
  margin-left: 10px;
}
.book__img {
  height: 60rem;
  width: 35%;
  background-image: url("../images/desktop/book-img.PNG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
  -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  border-radius: 0rem 5px 5px 0rem;
}
@media only screen and (max-width: 950px) {
  .book__img {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    width: 100%;
    height: 25rem;
    border-radius: 5px 5px 0rem 0rem;
  }
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #5D9732;
  width: 8.5rem;
  height: 8.5rem;
  margin-top: 1rem;
  transition: all 0.2s ease-out;
  /*   @media only screen and (max-width: 450px) {
    width: 7vh;
    height: 7vh;
    gap: 1%;
  } */
}
@media only screen and (min-width: 1700px) {
  .circle {
    margin-bottom: 1rem;
  }
}

.cards-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: -20rem;
}
.cards-home a {
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 1000px) {
  .cards-home {
    gap: 2%;
  }
}
@media only screen and (max-width: 319px) {
  .cards-home {
    display: none;
  }
}

.card-home {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 5rem;
  box-shadow: -1px 7px 12px rgba(0, 0, 0, 0.25);
  transform: translateY(-18rem);
  background-color: #fff;
  text-align: center;
  flex-grow: 1;
  transition: all 0.5s;
}
@media only screen and (min-width: 1700px) {
  .card-home {
    padding: 2.5rem 2rem;
    width: 22.5%;
  }
}
@media only screen and (max-width: 1000px) {
  .card-home {
    min-width: 22%;
    margin-top: 2rem;
  }
  .card-home p {
    display: none;
  }
}
@media only screen and (max-width: 950px) {
  .card-home {
    min-width: 22%;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 800px) {
  .card-home {
    min-width: 5%;
    height: 5%;
    margin-top: 10%;
  }
  .card-home h3 {
    display: none;
  }
}
@media only screen and (max-width: 800px) and (max-width: 600px) {
  .card-home {
    margin-top: 15%;
  }
}
@media only screen and (max-width: 800px) and (max-width: 450px) {
  .card-home {
    margin-top: 22%;
  }
}
@media only screen and (max-width: 800px) and (max-width: 400px) {
  .card-home {
    margin-top: 30%;
    min-width: 2%;
    height: 2%;
  }
}
.card-home:hover {
  transform: translateY(-19.5rem) scale(1.03);
  cursor: pointer;
  background-color: #5D9732;
  color: #5D9732;
}
.card-home:hover > * {
  color: #fff;
}
.card-home:hover i {
  color: #5D9732;
}
.card-home:hover .circle {
  background-color: #fff;
}
.card-home .container {
  padding-top: 0;
  padding-bottom: 0;
}
.card-home h3 {
  font-size: 2rem;
}
.card-home__icon {
  color: #fff;
  font-size: 3.5rem;
}
.card-home__title {
  margin-top: 2.2rem;
}
.card-home__title .metodologia {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.card-home__p {
  margin: 0 0;
  text-align: center;
}

.goal {
  scroll-margin-top: 4em;
}
.goal .row {
  align-items: start;
}
.goal .container {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.goal__img-wrapper {
  display: flex;
  justify-content: end;
}
.goal__img {
  width: 90%;
  height: auto;
}
@media only screen and (max-width: 950px) {
  .goal__img {
    width: 100%;
    height: 50%;
    margin-top: 6rem;
  }
}
.goal #goal_checkb {
  display: none;
}
.goal #goal_checkb:checked ~ .goal_readmore {
  display: block;
}
.goal #goal_checkb:checked ~ .read-more-text {
  visibility: hidden;
}
.goal #goal_checkb:checked ~ .read-more-text:after {
  content: "Mostrar menos";
  display: block;
  visibility: visible;
}
.goal .goal_readmore {
  display: none;
  transition: 0.5s linear;
}
.goal #goal_checkben {
  display: none;
}
.goal #goal_checkben:checked ~ .goal_readmore {
  display: block;
}
.goal #goal_checkben:checked ~ .read-more-text {
  visibility: hidden;
}
.goal #goal_checkben:checked ~ .read-more-text:after {
  content: "Show less";
  display: block;
  visibility: visible;
}

.how {
  scroll-margin-top: 4em;
  background-color: #FCFAFA;
}
.how .row {
  align-items: start;
}
.how .container {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.how__img-wrapper {
  display: flex;
  justify-content: end;
}
.how__img {
  width: 90%;
  height: auto;
}
@media only screen and (max-width: 950px) {
  .how__img {
    width: 100%;
    height: auto;
    margin-top: 6rem;
  }
}
.how #how_checkb {
  display: none;
}
.how #how_checkb:checked ~ .how_readmore {
  display: block;
}
.how #how_checkb:checked ~ .read-more-text {
  visibility: hidden;
}
.how #how_checkb:checked ~ .read-more-text:after {
  content: "Mostrar menos";
  display: block;
  visibility: visible;
}
.how #how_checkben {
  display: none;
}
.how #how_checkben:checked ~ .how_readmore {
  display: block;
}
.how #how_checkben:checked ~ .read-more-text {
  visibility: hidden;
}
.how #how_checkben:checked ~ .read-more-text:after {
  content: "Show Less";
  display: block;
  visibility: visible;
}
.how .how_readmore {
  display: none;
  transition: 0.5s linear;
}

.why {
  scroll-margin-top: 4em;
}
.why .container {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.why #checkb {
  display: none;
}
.why #checkb:checked ~ .readmore {
  display: block;
}
.why #checkb:checked ~ .read-more-text {
  visibility: hidden;
}
.why #checkb:checked ~ .read-more-text:after {
  content: "Mostrar menos";
  display: block;
  visibility: visible;
}
.why #checkben {
  display: none;
}
.why #checkben:checked ~ .readmore {
  display: block;
}
.why #checkben:checked ~ .read-more-text {
  visibility: hidden;
}
.why #checkben:checked ~ .read-more-text:after {
  content: "Show less";
  display: block;
  visibility: visible;
}
.why .readmore {
  display: none;
  transition: 0.5s linear;
}

.methodology {
  scroll-margin-top: 4em;
  background-color: #FCFAFA;
}
.methodology .container {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.methodology .wrapper {
  margin-bottom: 4rem;
}
.methodology .wrapper:last-child {
  margin-bottom: 0rem;
}
.methodology #method_checkb {
  display: none;
}
.methodology #method_checkb:checked ~ .method_readmore {
  display: block;
}
.methodology #method_checkb:checked ~ .read-more-text {
  visibility: hidden;
}
.methodology #method_checkb:checked ~ .read-more-text:after {
  content: "Mostrar menos";
  display: block;
  visibility: visible;
}
.methodology #method_checkben {
  display: none;
}
.methodology #method_checkben:checked ~ .method_readmore {
  display: block;
}
.methodology #method_checkben:checked ~ .read-more-text {
  visibility: hidden;
}
.methodology #method_checkben:checked ~ .read-more-text:after {
  content: "Show less";
  display: block;
  visibility: visible;
}
.methodology .method_readmore {
  display: none;
  transition: 0.5s linear;
}

.header-lecture__content {
  height: 64rem;
  background-image: url("../images/desktop/header-lecture.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media only screen and (max-width: 500px) {
  .header-lecture__content .container {
    padding: 0 5rem;
  }
}
.header-lecture__text {
  max-width: 68.9rem;
  padding: 4rem 0rem;
  text-align: left;
  position: absolute;
  top: 35%;
}
@media only screen and (max-width: 500px) {
  .header-lecture__text {
    top: 30%;
    max-width: 80%;
  }
}
.header-lecture .desc {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  padding-top: 1rem;
  text-align: left;
  top: 35%;
}

.our-lecture {
  /* &__text {
    h2 {

    }
    p {
    }
  } */
}
.our-lecture .container {
  padding-top: 11rem;
  padding-bottom: 11rem;
  /* @media only screen and (max-width: 500px) {
        padding-right: 5rem;
        padding-left:  5rem;
  } */
}
@media only screen and (max-width: 700px) {
  .our-lecture .container {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
.our-lecture__img {
  margin-top: 5rem;
  height: auto;
  width: 100%;
}
@media only screen and (max-width: 700px) {
  .our-lecture__img {
    margin-top: 2.5rem;
  }
}

.lecture .footer {
  height: auto;
}

.header-tech__content {
  height: 64rem;
  background-image: url("../images/desktop/header-technology.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header-tech__text {
  max-width: 68.9rem;
  padding: 4rem;
  text-align: left;
  position: absolute;
  top: 35%;
}
@media only screen and (max-width: 500px) {
  .header-tech__text {
    top: 28.5%;
  }
}
.header-tech .desc {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  padding-top: 1rem;
  text-align: left;
  /*     position: absolute;*/
  top: 35%;
}

.our-tech .container {
  padding-top: 11rem;
  padding-bottom: 4rem;
}

.card-section .container {
  display: flex;
  flex-direction: row;
}
.card-section .cards-tech {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 40rem);
  gap: 4rem;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 950px) {
  .card-section .cards-tech {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 40rem);
  }
}
@media only screen and (max-width: 375px) {
  .card-section .cards-tech {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 50rem);
  }
}
.card-section .cards-tech ul {
  text-decoration: none;
  color: #fff;
}
.card-section .cards-tech h2 {
  font-size: 3rem;
  color: #fff;
}
.card-section .card-tech {
  margin: 0;
  /* width: 58rem; */
  /* height: 35rem; */
  padding: 3rem 5rem;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.card-section .card-tech--1 {
  background-color: #8FBE6C;
}
.card-section .card-tech--2 {
  background-color: #8FBE6C;
}
.card-section .card-tech--3 {
  background-color: #457B8F;
}
.card-section .card-tech--4 {
  background-color: #457B8F;
}

.thankyou-container {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: auto 0;
  background-color: #093E52;
}

.sended-card {
  background-color: #457B8F;
  max-width: 47rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 5rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 400px) {
  .sended-card {
    padding: 4rem 4rem;
  }
}
.sended-card .circle {
  background-color: #fff;
  width: 12rem;
  height: 12rem;
}
.sended-card img {
  width: 100%;
  height: auto;
  padding: 2rem;
}
.sended-card p {
  color: #fff;
  font-weight: 400;
  margin-top: 2rem;
}
.sended-card__btn {
  background-color: #fff;
  color: #457B8F;
  padding: 1.1rem 1.6rem;
  border-radius: 8px;
  font-weight: 400;
  margin-top: 0.5rem;
}
.sended-card__btn .btn-icon {
  margin-left: 2px;
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;
}
.sended-card__btn:hover .btn-icon {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */