.footer {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  letter-spacing: 0.09rem;
  font-size: 1.3rem;
  background-color: $blue-dark;
  margin-top: auto;
  // .container { }

  .row {
    align-items: start;
    margin-top: 3rem;
  }

  .col-1-of-4 {
    width: max-content;
  }

  &__logo {
    filter: brightness(0) invert(1);
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__icon {
    margin-right: 1rem;
    color: #fff;
  }

  &__link {
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 200;
    color: #fff;
    transition: all 200ms;

    &:hover {
      color: $green-highlight;
      text-decoration: underline;
    }
  }
}

.col {
  &--wrapper {
    display: flex;
  }

  &--1 {
    // margin-left: 2rem;
  }

  &--3 {
    margin-left: 10rem;
    // margin-right: 2rem;
  }
}

.hr {
  &--wrapper {
    width: 105%;
    height: 4rem;
    margin-left: -2.5%;
  }

  border-bottom: 0.1rem solid #fff;
  margin-top: 4rem;
  margin-bottom: 3rem;
  background-color: #fff;
  color: #fff;
  width: 100%;
}

.copyright {
  font-size: 1.1rem;
  font-family: Roboto;
  font-weight: 300;
  text-align: right;
  margin-bottom: -4rem;
  margin-top: -2rem;
  color: #fff;
}
