.nav {
    position: sticky;
    z-index: 1;

    top: 0;
    background-color: $light-gray;

    // box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));

    .container {
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
    }

    &__logo {
        width: 25rem;
        height: auto;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: end;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 2.5rem;
        }
    }
    
    &__link {
        color: $blue-dark;
        text-decoration: none;
        font-size: 1.8rem;
        font-family: 'Poppins', sans-serif;
        transition: all 200ms;

        &:hover {
            color: $green;
        }

        &::before {
            content:""; 
        }
    }
}