* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px; 10px/16 = 62.5%
    scroll-behavior: smooth;

    @media only screen and (max-width: 1130px) {
        font-size: 59.5%;
    }
    @media only screen and (max-width: $main-bp) {
        font-size: 57.5%;
    }
    @media only screen and (max-width: 750px) {
        font-size: 52.5%;
    }
    @media only screen and (max-width: 500px) {
        font-size: 50.5%;
    }
}


