.container {
    max-width: 3840px;
    margin: 0 auto;
    padding: 5rem 25rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-1-of-2 {
    width: 47.5%;
}