.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 5rem 10rem;

}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-reverse {
    flex-direction: row-reverse;
}

.col-1-of-2 {
  width: 48%;
}
