.mensage{
    text-align: center;
    margin-top: 5rem;
    margin-left: 30rem;
}

form{
    margin-left: 40rem;
}

form label{
    display: block;
    margin: 1rem 0rem;
    font-size: 3rem;
}


.default-input {
    display: block;
    margin: 0 0 2rem;
    padding: 1rem 2.5rem;
    width: 40%;
}

::placeholder {
    font-family: 'Roboto', sans-serif;
}

.name,.email,.telephone,.subject,.text-mensage {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: $blue-dark;
}

textarea {
    font-family: 'Roboto', sans-serif;
}