.header-consultancy {
  &__content {
    height: 64rem;
    background-image: url("../images/desktop/header-consultancy.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  &__text {
    // max-width: 40%;
    max-width: 68.9rem;
    padding: 4rem;
    text-align: left;
    position: absolute;
    top: 35%;

    @media only screen and (max-width: 500px) {
      top: 28.5%;
    }

    @media only screen and (max-width: 450px) {
      top: 26.5%;
    }
  }

  &__p-header {
    // max-width: 40%;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    padding-top: 1rem;
    text-align: left;
    /*     position: absolute;
 */
    top: 35%;
  }
}

.cons-lecture {
  background-color: $light-gray;
  .container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 13rem 15rem;
  
    @media only screen and (max-width: 1450px) {
      padding: 13rem 10rem;
    }
    @media only screen and (max-width: 1130px) {
      padding: 13rem 4em;
    }
  }
  .h2 {
    text-align: center;
  }
  &__list {
    display: inline-block;
  }
}

.leadership-test {
  background-color: $green-light;
    .container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 8rem 15rem;
  
    @media only screen and (max-width: 1450px) {
      padding: 8rem 10rem;
    }
    @media only screen and (max-width: 1130px) {
      padding: 8rem 4em;
    }
  }
  .h2 {
    text-align: center;
    color: #fff;
  }
  .p {
    color: #fff;
  }
  .mb {
    margin-bottom: 8rem;
  }
}

.cons-consultancy {
  background-color: $blue-light;
    .container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 12rem 15rem;
  
    @media only screen and (max-width: 1450px) {
      padding: 12rem 10rem;
    }
    @media only screen and (max-width: 1130px) {
      padding: 12rem 4em;
    }
  }
  .h2 {
    text-align: center;
    color: #fff;
  }
  &__list {
    display: inline-block;
    color: #fff;
  }
}
