.stripe {
  background-color: $green;
  height: 1.4rem;
}

.header {
  &__content {
    height: 58rem;
    background-image: url("../images/desktop/header-home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @media only screen and (max-width: 450px) {
      height: 50vh;
    }
  }

  &__text {
    // max-width: 40%;
    max-width: 68.9rem;
    padding: 4rem;
    text-align: left;
    position: absolute;
    top: 50%;
    border: 0.6rem solid #fff;
    transform: translateY(-50%); // reset

    @media only screen and (max-width: $main-bp) {
      width: 80%;
      left: 50%;
      top: 35%;
      transform: translateX(-50%); // reset

      h1 {
        text-align: center;
      }
    }

    @media only screen and (max-width: 750px) {
      h1 {
        font-size: 3rem;
      }
    }

    @media only screen and (max-width: 450px) {
      top: 20%;
      h1 {
        font-size: 150%;
      }
    }
    @media only screen and (max-width: 400px) {
      top: 15%;
    }
  }
}

/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////

.book {
  margin-bottom: -4rem;

  @media only screen and (max-width: 600px) {
    margin-top: 1rem;
  }

  &__container {
    background-color: $blue-light;
    border-radius: 5px;

    @media only screen and (max-width: $main-bp) {
      flex-direction: column-reverse;
    }
  }

  &__content {
    padding: 2rem 4rem;
    width: 65%;

    @media only screen and (max-width: $main-bp) {
      width: 100%;
      padding: 6rem 4rem;
    }
    @media only screen and (max-width: 500px) {
      padding: 5rem 3rem;
    }

    .title-section {
      margin-bottom: 4rem;
    }

    .subtitle {
      color: #fff;
      font-size: 2.2rem;
      margin-top: -5rem;
      font-weight: 400;
    }

    .author {
      font-size: 1.4rem;
      margin-top: .5rem;
    }

    h2 {
      color: #fff;
      margin-bottom: -.1rem;
    }
    p {
      color: #fff;
      font-weight: 300;
      margin-bottom: 6rem;
    }
  }

  &__btn {
    background-color: #fff;
    color: $blue-light;
    padding: 1rem 1.6rem;
    border-radius: 2px;
    font-weight: 400;

    .btn-icon {
      margin-left: 2px;
      font-size: 1.4rem;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      .btn-icon {
        margin-left: 10px;
      }
    }
  }

  &__img {
    height: 60rem;
    width: 35%;
    background-image: url("../images/desktop/book-img.PNG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 90%;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 0rem 5px 5px 0rem;

    @media only screen and (max-width: $main-bp) {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      width: 100%;
      height: 25rem;
      border-radius: 5px 5px 0rem 0rem;
    }
  }
}

/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $green;
  width: 8.5rem;
  height: 8.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: all 0.2s ease-out;

  @media only screen and (min-width: 1700px) {
    margin-bottom: 1rem;
  }

  /*   @media only screen and (max-width: 450px) {
    width: 7vh;
    height: 7vh;
    gap: 1%;
  } */
}

.cards-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: -20rem;

  a {
    text-decoration: none;
    color: black;
  }

  @media only screen and (max-width: 1000px) {
    gap: 2%;
  }

  @media only screen and (max-width: 319px) {
    display: none;
  }
}

.cards-container {
  .container {
    @media only screen and (max-width: 800px) {
      padding: 2rem;
    }
  }
}

.card-home {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 5rem;
  box-shadow: (-1px 7px 12px rgba(0, 0, 0, 0.25));
  transform: translateY(-18rem);
  background-color: #fff;
  text-align: center;
  flex-grow: 1;
  transition: all 0.5s;
  .card-home__title2 {
    display: none;
  }

  @media only screen and (min-width: 1700px) {
    padding: 2.5rem 2rem;
    width: 22.5%;
  }

  @media only screen and (max-width: 1000px) {
    min-width: 22%;
    margin-top: rem;
    p {
      display: none;
    }
  }

  @media only screen and (max-width: $main-bp) {
    min-width: 22%;
    margin-top: 2rem;
  }

  @media only screen and (max-width: 800px) {
    min-width: 5%;
    height: 5%;
    margin-top: 10%;
    .card-home__title1 {
      display: none;
    }
    .card-home__title2 {
      display: block;
      font-size: 2.15rem;
      white-space: nowrap;
    }

    @media only screen and (max-width: 600px) {
      margin-top: 15%;
      transform: translateY(-20rem);
    }

    @media only screen and (max-width: 450px) {
      margin-top: 22%;
    }

    @media only screen and (max-width: 400px) {
      margin-top: 30%;
      min-width: 2%;
      height: 2%;
    }
  }

  &:hover {
    transform: translateY(-19.5rem) scale(1.03);
    cursor: pointer;
    background-color: $green;
    color: $green;

    & > * {
      color: #fff;
    }

    i {
      color: $green;
    }

    .circle {
      background-color: #fff;
    }
  }
  .container {
    // padding: 0rem 32rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  h3 {
    font-size: 2rem;
  }

  &__icon {
    color: #fff;
    font-size: 3.5rem;
  }

  &__title {
    margin-top: 2.2rem;

    .metodologia {
      width: min-content;
    }
  }

  &__p {
    margin: 0 0;
    text-align: center;
  }
}

/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////

.goal {
  scroll-margin-top: 4em;

  .row {
    align-items: start;
  }

  .container {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  &__img-wrapper {
    display: flex;
    justify-content: end;
  }

  // &__p { margin-right: 5rem; }

  &__img {
    width: 90%;
    height: auto;

    @media only screen and (max-width: $main-bp) {
      width: 100%;
      height: 50%;
      margin-top: 6rem;
    }
  }

  #goal_checkb {
    display: none;
    &:checked ~ .goal_readmore {
      display: block;
    }
    &:checked ~ .read-more-text {
      visibility: hidden;

      &:after {
        content: "Mostrar menos";
        display: block;
        visibility: visible;
      }
    }
  }

  .goal_readmore {
    display: none;
    transition: 0.5s linear;
  }

  #goal_checkben {
    display: none;
    &:checked ~ .goal_readmore {
      display: block;
    }
    &:checked ~ .read-more-text {
      visibility: hidden;

      &:after {
        content: "Show less";
        display: block;
        visibility: visible;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////

.how {
  scroll-margin-top: 4em;
  background-color: $light-gray;

  .row {
    align-items: start;
  }

  .container {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  &__img-wrapper {
    display: flex;
    justify-content: end;
  }

  &__img {
    width: 90%;
    height: auto;

    @media only screen and (max-width: $main-bp) {
      width: 100%;
      height: auto;
      margin-top: 6rem;
    }
  }

  #how_checkb {
    display: none;
    &:checked ~ .how_readmore {
      display: block;
    }
    &:checked ~ .read-more-text {
      visibility: hidden;

      &:after {
        content: "Mostrar menos";
        display: block;
        visibility: visible;
      }
    }
  }

  #how_checkben {
    display: none;
    &:checked ~ .how_readmore {
      display: block;
    }
    &:checked ~ .read-more-text {
      visibility: hidden;

      &:after {
        content: "Show Less";
        display: block;
        visibility: visible;
      }
    }
  }
  .how_readmore {
    display: none;
    transition: 0.5s linear;
  }
}

/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////

.why {
  scroll-margin-top: 4em;

  .container {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  #checkb {
    display: none;
    &:checked ~ .readmore {
      display: block;
    }
    &:checked ~ .read-more-text {
      visibility: hidden;

      &:after {
        content: "Mostrar menos";
        display: block;
        visibility: visible;
      }
    }
  }

  #checkben {
    display: none;
    &:checked ~ .readmore {
      display: block;
    }
    &:checked ~ .read-more-text {
      visibility: hidden;

      &:after {
        content: "Show less";
        display: block;
        visibility: visible;
      }
    }
  }

  .readmore {
    display: none;
    transition: 0.5s linear;
  }
}

/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////

.methodology {
  scroll-margin-top: 4em;

  background-color: $light-gray;

  .container {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .wrapper {
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0rem;
    }
  }

  #method_checkb {
    display: none;
    &:checked ~ .method_readmore {
      display: block;
    }
    &:checked ~ .read-more-text {
      visibility: hidden;

      &:after {
        content: "Mostrar menos";
        display: block;
        visibility: visible;
      }
    }
  }

  #method_checkben {
    display: none;
    &:checked ~ .method_readmore {
      display: block;
    }
    &:checked ~ .read-more-text {
      visibility: hidden;

      &:after {
        content: "Show less";
        display: block;
        visibility: visible;
      }
    }
  }

  .method_readmore {
    display: none;
    transition: 0.5s linear;
  }
}
