.header-lecture {
  &__content {
    height: 64rem;
    background-image: url("../../images/desktop/header-lecture.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  &__text {
    // max-width: 40%;
    max-width: 68.9rem;
    padding: 4rem;
    text-align: left;
    position: absolute;
    top: 35%;
  }

  .desc {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    padding-top: 1rem;
    text-align: left;
    top: 35%;
  }
}

.our-lecture {
  .container {
    padding-top: 11rem;
    padding-bottom: 11rem;
  }

  &__text {
    h2 {
    }
    p {
    }
  }

  &__img {
    margin-top: 10rem;
    height: auto;
    width: 100%;
  }
}

.lecture {
    .footer {
        height: auto;

    }
}
